@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&family=Roboto+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3eae3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 100%;
  max-width: 300px;
  border-radius: 0px 20px 20px 0px;
  padding: 31px 36px 39px 27px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  width: 100%;
}

.titulo {
  font-family: "Roboto", sans-serif;
  color: #929397;
  font-size: 16px;
  /* padding: 15px 20px 10px 20px; */
  text-transform: uppercase; /*transfoma as palavras em maiusculas*/
  letter-spacing: 3px;
  
}
.titulo__principal {
  font-family: "Roboto Mono", monospace;
  color: #1c232b;
  font-size: 35px;
  /* padding: 10px 20px 10px 20px; espaçamento interno */
  
}
.descricao {
  font-family: "Montserrat", sans-serif;
  color: #6c7289;
  font-size: 16px;
  /* padding: 15px 15px 10px 20px; */
  
}
.valor {
  display: flex;
  justify-content: space-between;
  /* padding: 15px 20px 15px 20px; */
  
}

.precos-container {
  display: flex;
  align-items: center;
}

.preco {
  color: #6c7289;
  font-size: 16px;
  text-decoration: line-through; /*coloca a linha no texto*/
  margin-left: 10px;
  /* padding: 0px 70px 0px 0px; */
  
}
button:hover {
  filter: brightness(
    1.1
  ); /*possibilita um elemento ter o seu estilo alterado através da ação do usuário*/
}
.botao {
  background: #3d8168;
  border-radius: 8px;
  width: 100%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  margin: 0 auto;
  transition: 0.3s;
}
.material-symbols-outlined {
  color: #ffffff;
  border: 0px solid #ffffff;
}
.texto {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding: 3px 5px 3px 5px;
}
/* maximo tamanho da tela */
@media (max-width: 650px) {
  .main-container {
    flex-direction: column;
    margin: 0 1rem;
  }
  .container {
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 26px;
    height: auto;
  }
  .img__perfume {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  .descricao {
    margin: 10px 0 10px;
  }
  .botao {
    margin-top: 10px;
  }
}
